<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Search Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div id="root" style="height:100%;">
      <div id='main-container'>
          <h3 id='main-title'>Welcome to the Search Engine</h3>
          <div id="panelCont" style="height:100%;">
            <div id="leftPanel">
              {{#unless isLogged}}
              <div id='loginTab'>
                  <form action="/login" method='post'>
                      <label htmlFor="username">Username</label>
                      <input type="email" name="username" class="emailField"/>
                      <label htmlFor="password">Password</label>
                      <input type="password" name="password" class="pwdField"/>
                      <input type="submit" value="Login"/>
                      <button type='button' id='registerBtn'>Register</button>
                  </form>
              </div>
              <div id="regTab">
                  <form action="/register" method="post">
                  <label htmlFor="username">Username</label>
                      <input type="email" name="username" class="emailField"/>
                      <label htmlFor="password">Password</label>
                      <input type="password" name="password" class="pwdField"/>
                      <label htmlFor="college">College</label>
                      <input type="text" name="college" id="college"/>
                      <input type="submit" value="Register"/>
                      <button type='button' id='loginBtn'>Login</button>
                  </form>
              </div>
              {{/unless}}
              {{#if isLogged}}
              <h3 class='loggedTitle'>Welcome back <span style="color:red">{{username}}</span></h3>
              <br>
              <br>
              <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="file">Select file</label>
                <input type="file" name="file" value="Upload File" id="file" title="Select a file" style="color:transparent" onchange="this.style.color = 'red'" required>
                <label for="tags">Tags</label>
                <input type="text" name="tags" id="tags" required>
                <input type="submit" value="Upload">
              </form>
              {{#if isAdmin}}
              <a href="/admin" id='adminNav'>ADMIN</a>
              {{/if}}
              <form action="/logout" method="post">
                <input type="submit" name="submit" value="LOG OUT" id='logoutBtn'>
              </form>
              <label for="search">Search</label>
              <input type="text" name="search" id="search"/>
              <input type="button" name="" value="Search" id="searchBtn" >
              {{#if success}}
                <h4 style="color:red" id="successMsg">File added successfully</h3>
              {{/if}}
              {{/if}}
            </div>
            <div id="rightPanel">
              {{#unless isLogged}}
              <h3 class='loggedTitle'>Please login to continue</h3>
              {{/unless}}
              {{#if isLogged}}
              <h3 class="loggedTitle">Results</h3>
              <div>
                  <ul id="results">
                  </ul>
              </div>
              {{/if}}
            </div>
          </div>
      </div>
    </div>
</body>
<script type="text/javascript">
  $("#regTab").hide();
  $("#registerBtn").on('click',function(){
    $("#loginTab").hide();
    $("#regTab").show();
  });
  $("#loginBtn").on('click',function(){
    $("#loginTab").show();
    $("#regTab").hide();
  });
  $('#searchBtn').on('click',function(){
    var query = $('#search').val();
    var results = $('#results');
    results.empty();
    if(query == ''){
      results.append(`<li><a class='result-item'>`+`Please input proper query`+`</a></li>`);
    }
    else{
      $.ajax({
        method:'get',
        url: '/search',
        data : {
          query : query,
        },
        dataType : 'json',
        success : function(data){
          console.log(data);
          if (data.length==0) {
            results.append(`<li><a class='result-item'>`+`No files found`+`</a></li>`);
          }
          else{
            $.each(data,function(index,element){
              results.append(`<li><a class='result-item' href=${element.path}>`+element.originalname+`</a></li>`);
            })
          }
        },
        error : function(err){
          console.log(err);
        }
      });
    }
  });
</script>
</html>
